.promo {
  // border-bottom: 1px solid $red;
  margin-bottom: 30px;

  &__container {

  }

  &__inner {
    background-color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30px;
  }

  &__title {

  }
}
