.page-header {
  border-bottom: 1px solid $red;

  &__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  &__main-nav {

  }

  &__logo {
    width: 150px;
    height: 50px;
    background-color: #ccc;
  }
}
